.custom-state-container {
  width: fit-content;
  min-width: 150px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-timer-text {
  font-size: 1.5rem;
}