.custom-trapezoid {
  width: 500px;
  height: 80px;
  background-image: linear-gradient(to right, #fcbf49, #96722b);
  border-radius: 20px;
  transform: perspective(300px) rotateX(3deg) skewX(-10deg);
  color: white;
  display: flex;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -50px;
  margin-left: auto;
  margin-right: auto;
}

.custom-leaderboard-container {
  border-radius: 10px;
  height: 80%;
  background-color: #eae2b7;
  box-shadow: 0 0 0 10px #fcbf49, 5px 8px 4px rgba(0, 0, 0, 0.3);
  margin-top: 50px;
  position: relative;
}

.custom-close-btn {
  width: 60px;
  height: auto;
  display: flexbox;
  position: absolute;
  top: -30px;
  right: -30px;
  cursor: pointer;
}
