.trapezoid {
	border-top: 50px solid #555;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
	width: 125px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #FCBF49 , #96722B);
  padding: 20px 10px;
}