.custom-profile-container {
  border-radius: 10px;
  height: 88%;
  background-color: #eae2b7;
  box-shadow: 0 0 0 10px #fcbf49, 5px 8px 4px rgba(0, 0, 0, 0.3);
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.custom-profile-data-container {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  height: 90%;
  padding: 0px 80px !important;
}

.custom-profile-info-container {
  display: flex;
  flex-direction: column;
}

.custom-profile-pic {
  border-radius: 50%;
  border: 5px solid white;
  width: 100%;
}

.input-group-text:hover {
  cursor: pointer;
}