/* buttons */
.custom-btns-container {
  z-index: 1;
  height: calc(100vh - 110px);
}

.custom-btn-white {
  width: 100%;
  height: 150%;
  background-color: white;
  font-size: 2rem;
  box-shadow: 5px 8px 4px 0px rgba(0,0,0,0.3);
}

.custom-btn-red {
  width: 100%;
  height: 150%;
  background-color: #D62828;
  font-size: 2rem;
  color: white;
  box-shadow: 5px 8px 4px 0px rgba(0,0,0,0.3);
}

.custom-btn-white:hover {
  background-color: white !important;
}

.custom-btn-red:hover {
  background-color: #D62828 !important;
  color: white !important;
}