.custom-playmode-container {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  width: 100%;
  box-shadow: 5px 8px 4px 0px rgba(0,0,0,0.3);
  padding: 60px !important;
}

.custom-title {
  color: white;
  font-size: 3rem;
  font-family: "Londrina Solid", cursive;
}

/* buttons */
.custom-playgame-btn {
  padding: 16px 8px;
  font-family: "Londrina Solid", cursive;
  font-size: 2rem;
  box-shadow: 5px 8px 4px 0px rgba(0,0,0,0.3);
  border-radius: 10px;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

.btn-yellow {
  background-color: var(--yellow);
}

.btn-orange {
  background-color: var(--orange);
}