:root {
  --yellow: #FCBF49;
  --light-yellow: #EAE2B7;
  --red: #D62828;
  --orange: #F77F00;
  --dark-blue: #003049;
  --green: #00CB76;
  --white: #FFF;
  --black: #000;
}

a:link, a:visited {
    background-color: var(--yellow);
    color: var(--white);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    vertical-align: baseline;
  }

  div{
    display: flex;
    flex-direction: column;
    padding: 100px;
  }
  
  a:hover, a:active {
    background-color: rgb(249, 192, 78);
  }

h1{
    text-align: center;
}

